* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

.resume {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f7fa;
}

.resume__resume-body {
    box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
}


/* START SIDE BLOCK */

.side-block {
    max-width: 370px;
    color: #ffffff;
    background-color: #1e2939;
}

.photo img {
    width: 100%;
    margin: 2.9vw 0;
}

.side-block__content {
    padding: 0 2.9vw 2.9vw;
}

.contacs__header,
.skills__header {
    margin: 1.5vw 0;
    font-size: 1.6vw;
    font-weight: 700;
}

.contacs__badge {
    margin-right: 0.7vw;
    font-size: 1.2vw;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.contacs__value a:link {
    text-decoration: none;
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.skills__item {
    list-style-type: none;
    font-size: 1.2vw;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.skills__item::before {
    color: #ff6b08;
    content: "\2022";
    margin-right: 0.6em;
    font-weight: 700;
}


/* END SIDE BLOCK */


/* START MAIN BLOCK */

.main-block {
    padding: 7vw 10.5vw 7vw 6.3vw;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
}

.about__specialty {
    font-size: 1.1vw;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.about__my-name {
    font-size: 4vw;
    line-height: 7vw;
    font-weight: 700;
}

.about__about-me {
    margin-bottom: 4.2vw;
    max-width: 415px;
    min-width: 290px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #595959;
}

.projects__header {
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 24px;
}

.projects__list {
    margin-bottom: 3.5vw;
}

.projects__item {
    margin-left: 1.9vw;
    list-style-type: decimal;
    font-size: 1.2vw;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #6e6e6e;
}

.projects__item::marker {
    font-size: 1.2vw;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #000000;
}

.projects__item a {
    text-decoration: none;
    color: #6e6e6e;
}

.projects__item a:hover {
    text-decoration: underline;
}

.work-experience__header,
.block-education__header {
    font-size: 1.5vw;
    font-weight: 700;
}

.experience__header {
    font-size: 1.1vw;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.experience__post {
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #595959;
}

.experience__time-period {
    font-size: 0.86vw;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #a8a8a8;
}


/* END MAIN BLOCK */


/* MEDIA FOR PRINT */

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
    .resume {
        padding: 0;
    }
    .resume__resume-body {
        box-shadow: none;
    }
    .photo img {
        margin: 10px 0;
    }
    .contacs__header,
    .skills__header {
        margin: 5px 0;
        font-size: 22px;
        font-weight: 700;
    }
    .contacs__badge {
        margin-right: 0;
        font-size: 10px;
    }
    .contacs__value a:link {
        font-size: 10px;
    }
    .main-block {
        padding: 20px;
    }
    .projects__item a::after {
        font-weight: 700;
        content: " <"attr(href)">";
    }
    .side-block__content {
        padding: 10px;
    }
}


/* MEDIA FOR PRINT */