/*start responsive style for tablets*/

@media (max-width: 1024px) {
    body {
        padding: 40px;
        font-size: 13px;
    }
    .main-container {
        display: flex;
        flex-direction: row;
    }
    .my-photo {
        width: 270px;
    }
    .side-container {
        width: 270px;
        font-size: 14px;
    }
    .contacs-container a {
        font-size: 14px;
    }
    .main-content {
        padding: 50px;
    }
    .about-me-container h1 {
        font-size: 40px;
    }
}


/*end responsive style for tablets*/


/*start responsive style for tablets*/

@media (max-width: 720px) {
    body {
        padding: 0;
        font-size: 12px;
    }
    .main-container {
        display: flex;
        flex-direction: row;
    }
    .my-photo {
        width: 270px;
    }
    .side-container {
        width: 270px;
        font-size: 14px;
    }
    .contacs-container a {
        font-size: 14px;
    }
    .main-content {
        padding: 20px;
    }
    .about-me-container h1 {
        font-size: 40px;
    }
}


/*end  responsive style for tablets*/


/*Start responsive style for smartphone*/

@media (max-width: 480px) {
    body {
        padding: 0;
        font-size: 12px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .side-container {
        width: 370px;
        font-size: 14px;
    }
    .my-photo {
        width: 370px;
    }
    .contacs-container a {
        font-size: 20px;
    }
    .main-content {
        padding: 20px;
    }
    .about-me-container h1 {
        font-size: 40px;
    }
}


/*End responsive style for smartphone*/