* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    background-color: #f5f7fa;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.main-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}


/*start of side block*/

.my-photo {
    width: 370px;
}


/*part contacs start*/

.side-container {
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1e2939;
    color: #ffffff;
}

.contacs-container h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.contact-signatures {
    margin-right: 10px;
    font-weight: 700;
    line-height: 24px;
}

.contacs-container {
    margin-top: 60px;
    margin-left: 40px;
}

.contacs-container a {
    color: #616974;
}

.contacs-telephone {
    text-decoration: none;
}


/*part contacs end*/


/*part tech-skills start*/

.tech-skills-container {
    margin-top: 55px;
    margin-left: 40px;
}

.tech-skills-container h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.tech-skills-container li {
    margin-left: 15px;
    color: #ff6b08;
}

.tech-skills-unit {
    color: #ffffff;
}


/*part tech-skills end*/


/*part soft-skills start*/

.soft-skills {
    margin-top: 55px;
    margin-left: 40px;
}

.soft-skills h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.soft-skills li {
    margin-left: 15px;
    color: #ff6b08;
}

.soft-skills-unit {
    color: #ffffff;
}


/*part soft-skills end*/


/*end of side block*/


/*start of main content block*/

.main-content {
    padding: 110px 90px;
}


/* start about-me-container*/

.about-me-container {
    margin-bottom: 65px;
    max-width: 480px;
}

.about-me-container h2 {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 700;
}

.about-me-container h1 {
    margin-bottom: 24px;
    min-width: 341px;
    font-size: 45px;
    font-weight: 700;
}

.about-me-container p {
    color: #595959;
    font-weight: 400;
}


/* end about-me-container*/


/*start projects-container*/

.projects-container {
    max-width: 480px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-technology {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 700;
}

.projects-units {
    font-weight: 400;
    color: #595959;
}

.projects-list {
    font-weight: 700;
}

.projects-list li {
    list-style-position: inside;
    border-bottom: 1px dotted #a8a8a8;
}

.projects-list a {
    font-weight: 400;
    text-decoration: none;
    color: #595959;
}


/*end projects-container*/


/*start experience-container*/

.experience-container {
    max-width: 480px;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 400;
}

.experience-container h3 {
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: 700;
}

.experience-container h4 {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
}

.company {
    color: #ff6b08;
}

.work-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 14px;
}

.separator {
    color: #000000;
}

.experience-container li {
    margin-left: 14px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
}

.expience {
    margin-bottom: 25px;
}


/*end experience-container*/


/* start education-container*/

.education-container h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

.education-container h4 {
    margin-bottom: 8px;
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
}

.education-container h5 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
}


/* end education-container*/


/*end of main content block*/